BLING_CLIENT_ID=05b3f679e6cfc180fa62bcf254932e182aa39ce7
BLING_CLIENT_SECRET=57a4840b83eaccd1c555881ea060f8127d087656f718bac8e76452a36d89
BLING_AUTHORIZE_URL=https://bling.com.br/oauth/authorize
BLING_TOKEN_URL=https://bling.com.br/oauth/token
BLING_API_BASE_URL=https://api.bling.com.br/b/api/v3
APP_BASE_URL=https://bling-product-robot.preview.emergentagent.com
APP_SECRET=your-secret-key-here
MONGO_URL=mongodb://localhost:27017
DB_NAME=bling_robot
